<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= movie.title %></title>
</head>
<body>
    <h1> Info page for <%= oneMovie.title </h1>
    
    <main>
        <section>
            <h2><%= oneMovie.name</h2>
                <ul>
                    <li>Title: <%= oneMovie.title %></li>
                    <li>Director: <%= oneMovie.director %></li>
                    <li>Genre: <%= oneMovie.genre %></li>
                    <li>Arr: <%= oneMovie.arr %></li>
                    <li>Release Date: <%= oneMovie.releaseDate %></li>
                </ul>
        </section>
    </main>
</body>
</html>