<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto+Condensed:wght@700&display=swap');
  </style>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/navbar.css">
  <link rel="stylesheet" href="/css/footer.css">
  <link rel="stylesheet" href="/css/show.css">
  <script src="https://kit.fontawesome.com/91fe73862f.js" crossorigin="anonymous"></script>
  <script defer src=""></script>
  <title>
    MOVIO - <%= oneMovie.Title %>
  </title>
</head>

<body>
  <main>
    <%- include('../partials/navbar.ejs') %>
      <div class="page-wrapper">
        <section>

          <div class="top-wrapper">
            <div class="title-header">
              <div class="left-box">
                <h2>
                  <%= oneMovie.Title %>
                </h2>
                <p>
                  <%= oneMovie.Released%> | <%= oneMovie.Rated%> | <%= oneMovie.Runtime %>
                </p>
              </div>
              <div class="right-box">
                <div class="left-col">
                  <div> IMDb</div>
                  <%if (typeof oneMovie.Ratings[0] !='undefined' ) {%>
                    <div>
                      <%= oneMovie.Ratings[0].Value %>
                    </div>
                    <%} else { %>
                      <div>N/A</div>
                      <% } %>
                </div>
                <div class="center-col">
                  <div>Rotten Tomatoes</div>
                  <%if (typeof oneMovie.Ratings[1] !='undefined' ) {%>
                    <div>
                      <%= oneMovie.Ratings[1].Value %>
                    </div>
                    <%} else { %>
                      <div>N/A</div>
                      <% } %>
                </div>
                <div class="right-col">
                  <div>Metacritic</div>
                  <%if (typeof oneMovie.Ratings[2] !='undefined' ) {%>
                    <div>
                      <%= oneMovie.Ratings[2].Value %>
                    </div>
                    <%} else { %>
                      <div>N/A</div>
                      <% } %>
                </div>
              </div>
            </div>
            <div class="poster-container">
              <img class="poster rounded" src="<%= oneMovie.Poster %>" alt="">
              <iframe src="https://www.youtube.com/embed/<%=apiData.ytLink%>" title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
              <!-- ------------------------------ =ytID%> ------------------------------ -->

            </div>
            <div class="content-container">
              <div>
                <%let arr=oneMovie.Genre.split(",")%>
                  <%for(let i=0; i<arr.length;i++){%>
                    <span class="genre" id="gn-<%=i%>">
                      <%=arr[i]%>
                    </span>
                    <% }%>
              </div>
              <div class="plot">
                <%=oneMovie.Plot%>
              </div>
              <div class="listEl first"><span class="cat">Director: </span>
                <span class="details"></span>
                <%= oneMovie.Director %>
              </div>
              <div class="listEl first"><span class="cat">Writer: </span>
                <span class="details">
                  <%=oneMovie.Writer%>
                </span>
              </div>
              <div class="listEl first last"><span class="cat">Actors: </span>
                <span class="details">
                  <%= oneMovie.Actors %>
                </span>
              </div>
              <div class="detail-btn">
                <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button"
                  aria-expanded="false" aria-controls="collapseExample" id="detail-btn">
                  Show All
                </a>
              </div>
            </div>
          </div>
        </section>
      </div>
      <div class="middle-wrapper">
      <div class="collapse" id="collapseExample">
        
          <div class="content-container">
            <div class="awards">
              <h3>
                <%=oneMovie.Awards%>
              </h3>
            </div>
            <div class="listEl2">Title: <span class="details">
                <%= oneMovie.Title %>
              </span>
            </div>
            <div class="listEl2">Director: <span class="details">
                <%=oneMovie.Director%>
              </span>
            </div>
            <div class="listEl2 ">Writer: <span class="details">
                <%= oneMovie.Writer %>
              </span>
            </div>
            <div class="listEl2">Genre: <span class="details">
                <%= oneMovie.Genre %>
              </span>
            </div>
            <div class="listEl2">Actors: <span class="details">
                <%=oneMovie.Actors%>
              </span>
            </div>
            <div class="listEl2 ">Released: <span class="details">
                <%= oneMovie.Released %>
              </span>
            </div>
            <div class="listEl2">Rated: <span class="details">
                <%= oneMovie.Rated %>
              </span>
            </div>
            <div class="listEl2">Runtime: <span class="details">
                <%=oneMovie.Runtime%>
              </span>
            </div>
            <div class="listEl2 ">Language: <span class="details">
                <%= oneMovie.Language %>
              </span>
            </div>
            <div class="listEl2">Country: <span class="details">
                <%= oneMovie.Country %>
              </span>
            </div>
            <div class="listEl2">DVD Release Date: <span class="details">
                <%=oneMovie.DVD%>
              </span>
            </div>
            <div class="listEl2">BoxOffice: <span class="details">
                <%= oneMovie.BoxOffice %>
              </span>
            </div>
            <div class="listEl2">Production: <span class="details">
                <%=oneMovie.Production%>
              </span>
            </div>
            <div class="listEl2 last">Website: <span class="details">
                <%= oneMovie.Website %>
              </span>
            </div>
          </div>
      </div>
      </div>
      <div class="stream-wrapper">
        <div class="streaming-sources">
          <h5>Where to watch <%=oneMovie.Title%>
          </h5>
          <div class="link-wrapper">
          <%for (let i=0; i < apiData.streamService.length; i++) {%>
            <div class="stream-links">
              <span class="stream-span"> <a href=<%=apiData.streamLinks[i].web_url%>> <%=apiData.streamService[i].name%></a></span>
            </div>
            <%}%>
          </div>
        </div>
      </div>
      <div class="rec-wrapper">
        <div class="rec">
          <h5>Liked <%=oneMovie.Title%>? Try these:</h5>
          <% for(let i=0;i<5;i++){ %>
            <div class="rec-box">            
            <h6 class="rec-title">
              <%=apiData.tdResults[i].Name%>
            </h6>
            <span class="rec-sum fbt">
              <%=apiData.tdSplit[0][i]%>
            </span> 
            <span class="collapse rec-sum" id="collapseExample<%=i%>">
              <%=apiData.tdSplit[1][i]%></span>
            <div class="rec-sum-con">
              <a class=" btn btn-primary" data-bs-toggle="collapse" href="#collapseExample<%=i%>" role="button" aria-expanded="false" aria-controls="collapseExample" id="sum-btn">
                Show all
              </a>
            </div>
          </div>
           <%}%>
          
           </div>
      </div>
      



      <%- include('../partials/footer.ejs') %>



  </main>




  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
    integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"
    integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/"
    crossorigin="anonymous"></script>

</body>

</html>